* {
	margin: 0;	
	font-family: arial;
}

/*HEADER FOR PUBLIC*/
.topnav {
	background-color: #FFB0AC;
	width: 100%;
	float: right;
	margin: 0px;
	overflow: hidden;
	border-bottom: 1.5px black solid;
}

.topnav-active {
	background-color: #FFC5BF;
}

.topnav a{
	color: black;
	display: block;
	float: left;
	font-size: 17px;
	text-decoration: none;
	text-align: center;
	padding: 14px 16px;

}

.topnav a:hover, .dropdown:hover .dropbtn {
	background-color: rgba(0,0,0,0.4);
}

/*Dropdown*/
.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.topnav .right {
	float: right;
}

.topnav .login {
	padding: 5px 30px;
	margin: 7px;
	border: 1.5px black solid;
	border-radius: 5px;
}

.fa-twitter-square {
	color: #38A1F3;
}

.fa-facebook-square {
	color: #3b5998;
}

#headerW, #headerWO {
	display:none;
}

