.lButton {
	font-size: 25px;
	width: 300px;
	background-color: #FF8983;
	border: 1.5px solid black;
	border-radius: 5px;
	padding: 7px 0 7px 0;
}

.lButton:hover, .lButton:active {
	background-color: #FFC3BD;
	outline: none;
}

#content {
	text-align: center;
}

.c1 {
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;
	display: inline-block;
}

.c2 {
	width: 50%;
	margin: auto;
	float: left;
	text-align: center;
}

.c2.text {
	text-align: left;
	padding-top: 70px;
	font-size: 30px;
}

.aLogo {
	font-size: 200px;
	color: #FFB3AE;
}

#content, #no-log-display {
	display:none;
}
