* {
	font-family: arial;
}

.logo {
	width: 400px;
	margin: auto;
	display: block;
}

.loginDiv {
	width: 450px;
	margin: auto;
	text-align: center;
	border: 1.5px solid black;
	border-radius: 3%;
	background-color: #FFB2AE;
}

.loginDiv-2 {
	width: auto;
	margin: auto;
	display: inline-block;
}

.loginTitle {
	font-weight: bold;
	font-size: 25px;
}

.loginInput {
	border: 1.5px solid black;
	padding: 2px;
	width: 300px;
	font-size: 20px;
}

.sButton {
	font-size: 25px;
	width: 300px;
	background-color: #E5E5E5;
	border: 1.5px solid black;
	border-radius: 5px;
	padding: 7px 0 7px 0;
	outline: none;
}

.sButton:active {
	background: #efefef;
}

#errorMsg {
	color: red;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
}

#content, #no-log-display {
	display:none;
}
