<html>

    <head>
        <title>CMS Home</title>
        <link href="../CSS/Header.css" rel="stylesheet" style="text/css">
        <link href="../CSS/Home.css" rel="stylesheet" style="text/css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    </head>

    <body>

        <% include partials/header %>

        <!--Body-->
        <div class="home-body">
            <h1>Crisis Management System</h1>
            <img src="../IMG/pineapple.jpg" class="logo">
            <br>
            <a href="map"><button class="button">Get Started</button></a>
        </div>

    </body>

</html>
